.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 2em;
  padding: 0 2em;
}


.category-text {
  color: rgb(246, 214, 50);
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;
  font-size: 2.1em;
  letter-spacing: 0.15em;
  padding : 0  0.7em
}

h1.category-text div {
  padding: 0.5em;
}

@media only screen and (max-width: 1180px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 915px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
