.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 4em;
    padding: 5em 5em;
}

main h1 {
    margin-top: 0.5em;
    text-align: center;
}

