.card {
    display:flex;
    flex-direction: column;
    border: black solid 0.1em;
    align-content: center;
    grid-auto-columns: 1fr;
    height: 14em;
    width: 12em;
    background-color: rgb(42, 42, 44);
    border-radius: 0.4em;
}

.card-favorite-icon {
    color: #B15766;
    font-size: 3em;
    pointer-events: none;
 
    
}

.card button {
    border: none;
    outline: none;
    position: relative;
    z-index: 3;
    width: 3em;
}
.card-favorite-button {
    background-color: transparent;
}
